@charset "UTF-8";

*{
	font-family: '맑은 고딕';
	margin: 0; padding: 0px;
}

/* 로고 구역 */
.logobox{
	text-align: center;
}

/* 로고 제목 */
.tittle{
	font-size: 50px;
	color: black;
	font-weight: bold;
}


/* 하단 메뉴 top 위치 변경 */
.h_bottom{
	top: 50px !important;
}

/* 부트스랩 class 수정 */
.nav-link{
	color: black !important;
}

.h_topmenu{
	width: 100%; display: flex; justify-content: flex-end;
	font-size: 10px;	font-weight: bold;
}

.h_bottommenu{
	width: 100%; display: flex; justify-content: space-between;
	font-size: 12px;	font-weight: bold;
}