






@charset "UTF-8";
/* css 주석 */

/* 1. 모든곳에 적용 */
*{ color : blue; }

/* 2. 태그에 적용 */
p{ color : orange; }

/* 3. 클래스에 적용 */
.p1{ color : red; }

/* 4. 아이디에 적용 */
#p2{ color : green; }

/*
우선순위: 속성이 중복일 경우 우선 적용되는 순위
 style -> id -> class -> 태그 -> *
 but, style 사용은 유지보수 업무에 비효율적이기 때문에 사용하지 않음.
*/
