@charset "UTF-8";

h3{
	text-align: center;
}

.login_t{
	width: 400px;
	margin: 0 auto;
}


.Login_B , .Password_B{
	height: 30px;
	width: 200px;
}

.Login_S{
	padding: 30px 20px;
}